.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Text", "Roboto Condensed", serif;
}

body {
  --main-color: #dad7cd;
  --second-color: #3a5a40;
  background-color: var(--main-color);
}

a {
  color: #000000;
}

.main {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

.aboutMe {
  padding: 2vh;
  position: relative;
  overflow: hidden;
}

.cube {
  width: 2000px;
  height: 2000px;
  position: absolute;
  z-index: -1;
  transform-origin: center;
  transform: rotate(70deg);
  top: -140vh;
    @media (min-width: 425px) {
      top: -100vh;
  }
}

.photoPrincipale {
  @media (min-width: 425px) {
    max-width: 300px;
    float: left;
    margin-right: 2vh;
  }
}

.aboutMe > div > h1 {
  color: whitesmoke;
  position: absolute;
  transform: translate(2vh, -100%);
  @media (min-width:424px){
    top: 9vh;
    left: -8vh;
    position: relative;
    font-size: 5vh;
    font-weight: 300;
  }
}

.aboutMe > div > div{
  @media (min-width:424px){
      -webkit-box-shadow: 2px 2px 9px 2px #000000;
  box-shadow: 2px 2px 9px 2px #000000;
    position: relative;
    top: 10px;
    z-index: -1;
    padding: 20px;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: var(--main-color);
  }
}


.aboutMe > div > div > h2 {
  text-align: center;
  @media (min-width:424px){
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
}

.aboutMe>div>div>p{
    @media (min-width:424px){
    font-size: larger;
  }
}

.aboutMe > div > div > p:last-of-type {
  text-align: center;
  font-size: x-large;
  color: #000000;
}

.myWork {
  grid-row-start: 2;
}

.myWork > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 10px;
  justify-content: center;
}

.myWork > div > div {
  max-width: 300px;
  -webkit-box-shadow: 2px 2px 9px 2px #000000;
  box-shadow: 2px 2px 9px 2px #000000;
  padding: 10px;
  background-color: whitesmoke;
  margin-bottom: 2vh;
}

.myWork > div > div > div > div {
  display: grid;
  grid-auto-flow: column;
}
.myWork > div > div > div > div > p {
  text-align: end;
}

.myWork > h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contactMe {
  background-color: var(--second-color);
  background-clip: content-box;
  grid-row-start: 5;
}

.contactMe > div {
  padding: 2vh;
}

.contactMe > div > h2 {
  text-align: center;
  color: whitesmoke;
}

.contactMe > div > p:first-of-type {
  font-weight: bold;
}

.contactMe > div > p {
  color: whitesmoke;
}
.contactMe > div > p:last-of-type {
  font-size: x-large;
  text-align: center;
}
